$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'forms';
@import 'simple-sidebar';

button {
  margin: 0 2px;
}

#wrapper {
  margin-top: 0;
}

.navbar-default {
  margin-bottom: 0;
}

.folder-info {
  padding: 20px;
}

.icon {
  width: 70%;
}

.start-message {
  color: #0099cc;
  font-family: sans-serif;
  font-size: 70px;
  margin: auto;
  padding-top: 150px;
  text-align: center;
}

.start-message-desc {
  color: gray;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}
